.detail-sapo {
    font-size: 17px;
}
.detail-content {

    & figure {
        margin-bottom: 1.25rem;

        img {
            width: 100%;
            height: auto !important;
            margin: auto;
        }
    }
    & figure figcaption {
        background: #f7f7f7;
        padding: 0.625rem 0.9375rem;
        font-size: 14px;
        display: block;
        margin: 0 auto;
        max-width: 100%;
        line-height: 1.25rem;
        color: #555;
    }
    & figure figcaption em {
        font-style: italic;
    }
    & p a {
        color: #d2ab74;
        // font-style: italic;
        text-decoration: underline;
        
        &:hover {
            color: #ff9222;
        }
    }
    & p,
    & li {
        font-size: 14px;
        margin-bottom: 18px;
        word-break: break-word;
        color: #222;

    }
    & ul {
        padding-left: 30px;
    }
    & ul li {
        list-style: disc;
    }
    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & > h6 {
        font-weight: bold;
        margin-bottom: 15px;
        font-family: 'Raleway', sans-serif;
        color: #181E23;
    }
    & > h2 {
        font-size: 28px;
    }
    & > h3 {
        font-size: 26px;
    }
    & > h4 {
        font-size: 22px;
    }
    & > h5 {
        font-size: 20px;
    }
    & > h6 {
        font-size: 18px;
    }

    & blockquote {
        padding: 40px;
        position: relative;
        z-index: 5;
        margin-top: 30px;
        margin-bottom: 30px;
        display: inline-block;
        width: 100%;
        font-size: 32px;
        color: #222;
        font-family: 'Questrial';
        font-weight: bold;

        & p {
            color: #222;
            font-size: 32px;
            line-height: 1.3;
            font-family: 'Questrial';
            font-weight: bold;
            &:last-child {
                margin-bottom: 0;
            }
        }

    }

}


.detail-primary {
    &__container {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    &__left {
        max-width: calc(100% - 300px);
        padding-right: 70px;

        .article-meta {
            flex-wrap: wrap;
        }
        .article-category {
            &__link {
                border-bottom: 2px solid #222;
            }
        }
        .article-share {
            &__heading {

                .icon {
                    width: 12px;
                    height: auto;
                }
            }

            &__listWrap {
                position: absolute;
                z-index: 100;
                top: 12px;
                left: -25px;
                display: block;
                width: 110px;
                -webkit-filter: blur(18px);
                filter: blur(18px);
                visibility: hidden;
                opacity: 0;
                text-align: left;
                font-size: 9px;
                letter-spacing: 1px;
            }

            &__list {
                display: block;
                margin-top: 15px;
                position: relative;
                background-color: #fff;
                border: 1px solid #e3e3e3;
                box-shadow: 0px 1px 14px 3px rgba(176, 173, 150, 0.1);

                &::before,
                &::after {
                    bottom: 100%;
                    left: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                }

                &::before {
                    border-color: rgba(238, 238, 238, 0);
                    border-bottom-color: #ddd;
                    border-width: 9px;
                    margin-left: -9px;
                }

                &::after {
                    border-color: rgba(255, 255, 255, 0);
                    border-bottom-color: #fff;
                    border-width: 8px;
                    margin-left: -8px;
                }
            }

            &__link {
                line-height: 1;
                border-bottom: 1px solid #eee;
                background-color: #fff;

                &:hover {
                    background-color: #fbfbfb;
                    color: #222;
                }
                
            }

            &__icon {
                height: 10px;
                width: auto;
            }

            &:hover {
                .article-share__listWrap {
                    opacity: 1;
                    -webkit-filter: blur(0);
                    filter: blur(0);
                    visibility: visible;
                }
            }
        }

        .article-like {
            &__icon {
                width: 12px;
                height: auto;
            }

            &:hover {
                color: #f56559;

                .article-like__icon {
                    filter: invert(50%) sepia(61%) saturate(1787%) hue-rotate(326deg) brightness(100%) contrast(93%);
                }
            }
        }
    }

    &__right {
        width: 300px;
    }
}

.detail-title {
    font-size: 44px;
    text-align: center;
    font-weight: 500;
}