// max width 1536px
@media (max-width: 1536px) {
    .d-2xl-none {
        display: none;
    }
    .d-2xl-block {
        display: block;
    }
    .d-2xl-flex {
        display: flex;
    }
    .d-2xl-grid {
        display: grid;
    }
    .ml-2xl-0 {
        margin-left: 0;
    }
    .mr-2xl-0 {
        margin-right: 0;
    }
    // --------------------------------------------------------------------header

    // --------------------------------------------------------------------index

    // --------------------------------------------------------------------cate

    // --------------------------------------------------------------------detail

    // --------------------------------------------------------------------footer
}
// max width 1280px
@media (max-width: 1280px) {
    .d-xl-none {
        display: none;
    }
    .d-xl-block {
        display: block;
    }
    .d-xl-flex {
        display: flex;
    }
    .d-xl-grid {
        display: grid;
    }
    .ml-xl-0 {
        margin-left: 0;
    }
    .mr-xl-0 {
        margin-right: 0;
    }
    // --------------------------------------------------------------------header

    // --------------------------------------------------------------------index

    // --------------------------------------------------------------------cate

    // --------------------------------------------------------------------detail

    // --------------------------------------------------------------------footer
}
// max width 1024px
@media (max-width: 1024px) {
    .d-lg-none {
        display: none;
    }
    .d-lg-block {
        display: block;
    }
    .d-lg-flex {
        display: flex;
    }
    .d-lg-grid {
        display: grid;
    }
    .ml-lg-0 {
        margin-left: 0;
    }
    .mr-lg-0 {
        margin-right: 0;
    }
    // --------------------------------------------------------------------header
    .header-branding {
        padding: 60px 0;

        &__title {
            font-size: 60px;
        }
    }

    // -------------------------------------------------------------------- index

    .section-secondary {
        &__left {
            padding-right: 30px;
        }
    }

    // --------------------------------------------------------------------cate

    // --------------------------------------------------------------------detail

    .detail-primary {
        &__left {
            padding-right: 30px;
        }
    }

    // --------------------------------------------------------------------footer
}

// max width 992px
@media (max-width: 992px) {
    .d-md-none {
        display: none;
    }
    .d-md-block {
        display: block;
    }
    .d-md-flex {
        display: flex;
    }
    .d-md-grid {
        display: grid;
    }
    .w-md-500 {
        max-width: 500px;
        margin: auto;
    }
    .ml-md-0 {
        margin-left: 0;
    }
    .mr-md-0 {
        margin-right: 0;
    }
    // --------------------------------------------------------------------header
    .header-branding {
        padding: 20px 0;

        &__title {
            font-size: 24px;
        }
    }
   
    // --------------------------------------------------------------------index

    .section-primary {
        &__slide {
            .article-title {
                font-size: 32px;

                .w-50 {
                    width: 80%;
                }
            }
        }

        &__small {
            margin-top: 10px;
            margin-right: -5px;
            margin-left: -5px;

            .article {
                padding-left: 5px;
                padding-right: 5px;
            }

            .article-title {
                font-size: 14px;
            }
        }
    }

    .section-secondary {
        &__left {
            max-width: 100%;
            padding-right: 0;
            width: 100%;
            padding-bottom: 40px;
        }

        &__right {
            width: 100%;
        }
    }

    .section-tertary {
        &__title {
            font-size: 46px;
        }
    }

    .section-quaternary {
        .gallery {
            .article {
                width: 33.33%;
                padding: 2px;
            }
        }
    }

    // --------------------------------------------------------------------cate
   

    .cate-breadcrumb {
        &__container {
            padding-top: 40px;
            padding-bottom: 20px;
        }
        &__title {
            font-size: 26px;
        }
    }

    .cate-primary {
        padding-top: 10px;
        padding-bottom: 30px;
        .articles {
            grid-template-columns: repeat(2,1fr);


            .article-title {
                font-size: 18px;
            }
        }
        
    }

    // --------------------------------------------------------------------detail
    .detail-primary {
        &__left {
            max-width: 100%;
            padding-right: 0;
            width: 100%;
            padding-bottom: 40px;
        }

        &__right {
            width: 100%;
        }
    }
    .cmt-box {
        .avatar {
            width: 56px;
        }
    }

    // --------------------------------------------------------------------footer

}

// max width 767px
@media (max-width: 767px) {
    .d-sm-none {
        display: none;
    }
    .d-sm-block {
        display: block;
    }
    .d-sm-flex {
        display: flex;
    }
    .d-sm-grid {
        display: grid;
    }

    .ml-sm-0 {
        margin-left: 0;
    }
    .mr-sm-0 {
        margin-right: 0;
    }
    // --------------------------------------------------------------------header

    // --------------------------------------------------------------------index
    .slide-arrow-primary {
        .swiper-button-next, 
        .swiper-button-prev {
            width: 32px;
            height: 32px;
            
        }

        .swiper-button-next:after, 
        .swiper-button-prev:after {
            font-size: 10px;
        }
    }

    .section-primary {
        &__slide {
            .article {
                .image-wrapper {
                    padding-bottom: 100%;
                }
            }
            .article-title {
                font-size: 24px;
                .w-50 {
                    width: 90%;
                }
            }
        }

        &__small {
            .article-title {
                font-size: 10px;
            }
        }
    }

    .section-secondary {
        &__container {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        &__left {
            .article-title {
                font-size: 24px;
            }

            .article-img {
                margin-top: 20px;
            }
        }
    }

    .section-tertary {
        &__container {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        &__title {
            font-size: 26px;
        }

        &__form {
            .form-input {
                margin-right: 0;
                margin-bottom: 20px;
                width: 100%;
            }
        }
    }

    .section-quaternary {
        .gallery {
            .article {
                width: 50%;
            }
        }
    }

    // --------------------------------------------------------------------cate
    .cate-breadcrumb {
        &__container {
            padding-top: 30px;
            padding-bottom: 10px;
        }

        
    }


    // --------------------------------------------------------------------detail
    .detail-title {
        font-size: 28px;
    }
    .detail-content {
        figure {
            margin-bottom: 15px;
            figcaption {
                padding: 8px 10px;
                font-size: 14px;
            }
        }

        & p,
        & li {
            font-size: 16px;

        }

        & > h2 {
            font-size: 26px;
        }
        & > h3 {
            font-size: 24px;
        }
        & > h4 {
            font-size: 22px;
        }
        & > h5 {
            font-size: 20px;
        }
        & > h6 {
            font-size: 18px;
        }

        blockquote {
            padding: 20px;
            margin: 20px 0;

            p {
                font-size: 20px;
            }
        }
    }

    .related-news {
        &__content {
            .article {
                margin: 10px 0;
            }
        }
    }

    .detail-primary {
        &__container {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        &__left {
            
        }
    }

    .cmt-box {
        .avatar {
            width: 40px;
        }

        .cmt-form {
            .form-group {
                &--name,
                &--email,
                &--web {
                    width: 100%;
                }
            }
    
        }
    }
    // --------------------------------------------------------------------footer

}
