// max width 1536px
@media (max-width: 1536px) {
    .d-2xl-none {
        display: none;
    }
    .d-2xl-block {
        display: block;
    }
    .d-2xl-flex {
        display: flex;
    }
    .d-2xl-grid {
        display: grid;
    }
    .ml-2xl-0 {
        margin-left: 0;
    }
    .mr-2xl-0 {
        margin-right: 0;
    }
    // --------------------------------------------------------------------header

    // --------------------------------------------------------------------index

    // --------------------------------------------------------------------cate

    // --------------------------------------------------------------------detail

    // --------------------------------------------------------------------footer
}
// max width 1280px
@media (max-width: 1280px) {
    .d-xl-none {
        display: none;
    }
    .d-xl-block {
        display: block;
    }
    .d-xl-flex {
        display: flex;
    }
    .d-xl-grid {
        display: grid;
    }
    .ml-xl-0 {
        margin-left: 0;
    }
    .mr-xl-0 {
        margin-right: 0;
    }
    // --------------------------------------------------------------------header

    // --------------------------------------------------------------------index

    // --------------------------------------------------------------------cate

    // --------------------------------------------------------------------detail

    // --------------------------------------------------------------------footer
}
// max width 1024px
@media (max-width: 1024px) {
    .d-lg-none {
        display: none;
    }
    .d-lg-block {
        display: block;
    }
    .d-lg-flex {
        display: flex;
    }
    .d-lg-grid {
        display: grid;
    }
    .ml-lg-0 {
        margin-left: 0;
    }
    .mr-lg-0 {
        margin-right: 0;
    }
    // --------------------------------------------------------------------header

    // -------------------------------------------------------------------- index

    // --------------------------------------------------------------------cate

    // --------------------------------------------------------------------detail

    // --------------------------------------------------------------------footer
}

// max width 992px
@media (max-width: 992px) {
    .d-md-none {
        display: none;
    }
    .d-md-block {
        display: block;
    }
    .d-md-flex {
        display: flex;
    }
    .d-md-grid {
        display: grid;
    }
    .w-md-500 {
        max-width: 500px;
        margin: auto;
    }
    .ml-md-0 {
        margin-left: 0;
    }
    .mr-md-0 {
        margin-right: 0;
    }
    // --------------------------------------------------------------------header
   
    // --------------------------------------------------------------------index

    // --------------------------------------------------------------------cate

    // --------------------------------------------------------------------detail

    // --------------------------------------------------------------------footer

}

// max width 767px
@media (max-width: 767px) {
    .d-sm-none {
        display: none;
    }
    .d-sm-block {
        display: block;
    }
    .d-sm-flex {
        display: flex;
    }
    .d-sm-grid {
        display: grid;
    }

    .ml-sm-0 {
        margin-left: 0;
    }
    .mr-sm-0 {
        margin-right: 0;
    }
    // --------------------------------------------------------------------header

    // --------------------------------------------------------------------index

    // --------------------------------------------------------------------cate

    // --------------------------------------------------------------------detail
    .detail-title {
        font-size: 28px;
    }
    .detail-content {
        figure {
            margin-bottom: 15px;
            figcaption {
                padding: 8px 10px;
                font-size: 14px;
            }
        }

        & p,
        & li {
            font-size: 16px;

        }

        & > h2 {
            font-size: 26px;
        }
        & > h3 {
            font-size: 24px;
        }
        & > h4 {
            font-size: 22px;
        }
        & > h5 {
            font-size: 20px;
        }
        & > h6 {
            font-size: 18px;
        }

        blockquote {
            padding: 20px;
        }
    }
    // --------------------------------------------------------------------footer

}
